<div class="rounded child-shadow">
  <div class="grid-container">
    <div>
      <label for="">Buy advice exchange</label>
      <input name="" type="text" class="rounded" />
    </div>
    <div>
      <label for="">Buy advice currency</label>
      <input type="text" class="rounded" />
    </div>
    <div>
      <label for="">Buy advice currency</label>
      <input type="text" class="rounded" />
    </div>
    <div>
      <label for="">Sell advice currency</label>
      <input type="text" class="rounded" />
    </div>
    <div>
      <a>Clear filter</a>
      <button>Filter Arbitrage</button>
    </div>
  </div>
</div>
