input.rounded {
  border: 1px solid #ccc;

  /* Safari 5, Chrome support border-radius without vendor prefix.
     * FF 3.0/3.5/3.6, Mobile Safari 4.0.4 require vendor prefix.
     * No support in Safari 3/4, IE 6/7/8, Opera 10.0.
     */
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  /* using a bigger font for demo purposes so the box isn't too small */
  font-size: 14px;

  /* with a big radius/font there needs to be padding left and right
     * otherwise the text is too close to the radius.
     * on a smaller radius/font it may not be necessary
     */
  padding: 6px 7px;

  /* only needed for webkit browsers which show a rectangular outline;
     * others do not do outline when radius used.
     * android browser still displays a big outline
     */
  outline: 0;

  /* this is needed for iOS devices otherwise a shadow/line appears at the
     * top of the input. depending on the ratio of radius to height it will
     * go all the way across the full width of the input and look really messy.
     * ensure the radius is no more than half the full height of the input, 
     * and the following is set, and everything will render well in iOS.
     */
  -webkit-appearance: none;

  background-color: transparent;
}

input.rounded:focus {
  /* supported IE8+ and all other browsers tested.
     * optional, but gives the input focues when selected.
     * change to a color that suits your design.
     */
  border-color: #339933;
}

.child-shadow {
  box-shadow: 0px 4px 10px -5px rgb(175, 175, 175);
  margin-bottom: 5px;
  z-index: 100;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px 10px 20px 10px;
}

button {
  padding: 7px 20px;
  width: 160px;
  background-color: rgba(100, 111, 142, 1);
  color: #edf0f1;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  word-spacing: 0.5ch;
  margin-left: 40px;
  align-self: end;
}

button:hover {
  background-color: rgba(100, 111, 142, 0.8);
}
