
<table>
  <thead>
    <tr>
      <th v-for="header in headers" v-html="header"></th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="currency of selectedCurrencies">
      <td class="green">{{currency.buy_exchange_pair}}</td>
      <td>{{currency.buy}}</td>
      <td class="red">{{currency.sell_exchange}}</td>
      <td>{{currency.sell}}</td>
      <td>{{currency.trade_amount}}</td>
      <td>{{currency.arb}}</td>
      <td>{{currency.exp_profit}}</td>
      <td>{{currency.exp_fees}}</td>
      <td><img src="@/assets/adj.svg" height="22" alt="adj."></td>
    </tr>
  </tbody>
</table>
